<header class="cabecalho-home">
    <button type="button" class="button-bar"><i class="fas fa-bars"></i></button>
    <button type="button" class="button-user"><i class="fas fa-user-circle"></i></button>

    <ul class="cabecalho-menu">
        <a href="/home"><li class="menu-item"><i class="fas fa-users"></i> Contatos</li></a>
        <a href="/novocontato"><li class="menu-item"><i class="fas fa-user-plus"></i> Novo Contato</li></a>
        <a href="#"><li class="menu-item"><i class="fas fa-info-circle"></i> Sobre</li></a>
    </ul>

    <ul class="cabecalho-sair">
        <a href="/home/logout"><li>Sair <i class="fas fa-sign-out-alt"></i></li></a>
    </ul>
</header>