<% if(errors.length > 0) { %>
    <span class="msg-error">
        <% errors.forEach(error => { %>
            <%= error %>
        <%});%>
    </span>
<% } %>


<% if(sucess.length > 0) { %>
    <span class="msg-sucess">
        <% sucess.forEach(sucess => { %>
            <%= sucess %>
        <%});%>
    </span>
<% } %>