<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Agenda, Contatos, Agenda Telefônica">
    <meta name="Author" content="Rafaelsurfce">
    <meta name="description" content="Ageend de contatos e gerenciamento">
    <!--Font Icons-->
    <script src="https://kit.fontawesome.com/9df899838e.js" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <title>Modelo</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>ESSA É A PAGINA DE CADASTRO</h1>
        </header>
        <main>
            <form action="" method="post" class="cadastrar-usuario">
                <label for="nome">Nome</label> 
                <input type="text" id="nome" name="nome">
                <label for="sobrenome">Sobrenome</label> 
                <input type="text" id="sobrenome" name="sobrenome">
                <label for="email">Email</label> 
                <input type="email" name="email" id="email">
                <label for="password">Senha</label> 
                <input type="password" name="password" id="password">
                <label for="conf-senha">Confirma senha</label>
                <input type="password" name="conf-senha" id="conf-senha">
                <input type="submit" value="Cadastrar">
            </form>

        </main>
    </div>
    
</body>
</html>