<%- include('includes/head') %>
<body>
<%- include('includes/menu') %>
    <main class="main-home">
        <table class="main-table">
            <thead>
                <th class="td-nome">Nome</th>
                <th class="td-telefone">Contato</th>
                <th class="td-email">Email</th>
                <th class="td-icons">Excluir</th>
                <th class="td-icons">Atualizar</th>
            </thead>
            
            <tbody>
                <tr>
                    <td class="td-nome">Rafael Lima</td>
                    <td class="td-telefone">(88) 98860-0652</td>
                    <td class="td-email">rafaesurfce@alu.ufc.br</td>
                    <td class="td-icons"><i class="fas fa-trash"></i></td>
                    <td class="td-icons"><i class="fas fa-sync-alt"></i></td>
                </tr>

                
                 

            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4">Total</th>
                    <td>1</td>
                </tr>
            </tfoot>
        </table>
    </main>

    <script src="./assets/js/bundle.js"></script>
</body>
</html>