<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Agenda, Contatos, Agenda Telefônica">
    <meta name="Author" content="Rafaelsurfce">
    <meta name="description" content="Ageend de contatos e gerenciamento">
    <!--Font Icons-->
    <script src="https://kit.fontawesome.com/9df899838e.js" crossorigin="anonymous"></script>

    <!--Google Fonts-->
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <title>Modelo</title>

</head>
<body>
    <div class="container">
        <header class="cabecalho">
    
        </header>
        <main class="principal">
            <section class="form">
                <i class="fas fa-address-book"></i>
                <h2 class="subtitle">Entre</h2>
                <form action="" method="post">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="email@example.com">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha" placeholder="Insira sua senha">
                    <label for="manter-conectado"> <input type="checkbox" name="manterConectado" id="manter-conectado">Manter conectado</label>
                    <a href="#" class="recupera-senha">Recuperar senha</a>
                    <input type="submit" value="entrar" class="button-entrar">
                    <a href="#" class="button-cadastrar">cadastre-se grátis</a>

                </form>
            </section>
        </main>
    </div>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>