
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root{
    --colorDefault: rgb(17, 86, 102);
    --fontDefault: "Open Sans", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--colorDefault);
    height: 100vh;
    width: 100vw;
    font-family: var(--fontDefault);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    height: 100vh;
    width: 40vw;
    padding: 2rem 2rem;
    border-radius: 2%;
}
.container .content{
    height: 42vh;
   
}
.container .cabecalho{
    height: 40vh;
}

.container .rodape{
    height: 5vh;
}

table{
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}

.formulario form{
    margin: 0.8rem 0;
}
.formulario label, input{
    display: inline-block;
    width: 100%;
    margin: 0.2rem 0;
}

.formulario input[type='text']{
    height: 2.5rem;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.formulario input[type='submit']{
    background-color: var(--colorDefault);
    border: none;
    height: 2.2rem;
    margin: 1rem 0 0;
    padding: 0.5rem 0;
    font-size: .9rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: background-color;
}

.formulario input[type='submit']:hover{
    background-color: rgb(19, 104, 122);
}

#result{
    width: 100%;
    height: 100%;
}

.paragrafo-true{
    background-color: rgb(109, 255, 182);
    padding: 10px 20px;
}

.paragrafo-false{
    background-color: rgb(255, 150, 150);
    padding: 10px 20px;
}